body {
  margin: 0;
  font:  14px 'Microsoft Yahei', 'Microsoft Jhenghei', Tahoma, 'Simsun';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

div,html,ul, li,input,p,span, i,img {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
